body {
    display: flex;
    justify-content: center;
    /*background-color: rgb(224, 224, 40); */
    background-color: #e0e028;
    background-image: url("./black-linen.png");
}

h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #cbc292a1;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}

